<!-- app/views/photos/serch_by_tag.html.erb -->
<% @photos.each do |photo|%>
<% if photo.id.present? %>
  <td><%= image_tag photo.image.url %>
    <%=link_to 'Show',album_photo_path(album_id: @album.id, id: photo.id)%>
    <%#= link_to 'Delete', album_photo_path(album_id: @album.id, id: photo.id), method: :delete%>
  </td>
<%end%>
<%end%>